In [1]:
%load_ext autoreload
%autoreload 2

In [16]:
import pandas as pd

from customerchurn import preprocessing import series_prepro

ImportError: cannot import name 'series_prepro' from 'customerchurn.preprocessing' (/home/alechenwolf/.pyenv/versions/3.8.6/envs/customerchurn/lib/python3.8/site-packages/customerchurn/preprocessing.py)

In [3]:
df = pd.read_csv('../raw_data/concat.csv')

/tmp/ipykernel_6363/3379766052.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/concat.csv')

In [4]:
df = df.drop(columns='Unnamed: 0')

In [5]:
df = df[df['language'] == 'en']

In [6]:
# df.to_csv('../raw_data/raw_en.csv')

In [7]:
df

,name,date,recommendation,review,playing_hours,source,stars,language
0,Expansion - Hearts of Iron IV: Man the Guns,2019-02-10,Recommended,&gt Played as German Reich&gt Declare war on B...,578.0,steam,NaN,en
2,Expansion - Hearts of Iron IV: Man the Guns,2019-02-07,Recommended,Very good game although a bit overpriced in my...,892.0,steam,NaN,en
3,Dead by Daylight,2018-06-14,Recommended,Out of all the reviews I wrote This one is pro...,676.0,steam,NaN,en
4,Dead by Daylight,2017-06-20,Recommended,Disclaimer I survivor main. I play games for f...,612.0,steam,NaN,en
5,Dead by Daylight,2016-12-12,Recommended,ENGLISH After playing for more than two years ...,2694.0,steam,NaN,en
...,...,...,...,...,...,...,...,...
575711,zika,NaN,NaN,Trendy topic with talks from expertises in the...,NaN,coursera,4.0,en
575712,zika,NaN,NaN,"Wonderful! Simple and clear language, good ins...",NaN,coursera,5.0,en
575713,zika,NaN,NaN,an interesting and fun course. thanks. dr quincy,NaN,coursera,5.0,en
575714,zika,NaN,NaN,"very broad perspective, up to date information...",NaN,coursera,4.0,en
575715,zika,NaN,NaN,An informative course on the social and financ...,NaN,coursera,4.0,en

In [8]:
df[df.duplicated() == True]

,name,date,recommendation,review,playing_hours,source,stars,language
360477,RESIDENT EVIL 2 / BIOHAZARD RE:2,2019-01-26,Recommended,Probably the best remake game I've ever played.,32.0,steam,NaN,en
360478,RESIDENT EVIL 2 / BIOHAZARD RE:2,2019-02-01,Recommended,Overall Score 9.3 / 10Quality9.7/10 High quali...,22.0,steam,NaN,en
360479,RESIDENT EVIL 2 / BIOHAZARD RE:2,2019-01-24,Recommended,What a way to start off 2019 dude. My god.. Go...,43.0,steam,NaN,en
360482,RESIDENT EVIL 2 / BIOHAZARD RE:2,2019-01-28,Recommended,Outstanding gameplay level design and storytel...,11.0,steam,NaN,en
360483,RESIDENT EVIL 2 / BIOHAZARD RE:2,2019-01-27,Recommended,About 60k People playing this atm and i guess ...,14.0,steam,NaN,en
...,...,...,...,...,...,...,...,...
573856,wind-energy,NaN,NaN,good course,NaN,coursera,5.0,en
574531,work-smarter-not-harder,NaN,NaN,Good course,NaN,coursera,4.0,en
574805,work-smarter-not-harder,NaN,NaN,Very useful,NaN,coursera,4.0,en
574810,work-smarter-not-harder,NaN,NaN,Great course.,NaN,coursera,5.0,en
575146,writing-for-children,NaN,NaN,Great course!,NaN,coursera,5.0,en

In [9]:
df.drop_duplicates(inplace=True)

df

,name,date,recommendation,review,playing_hours,source,stars,language
0,Expansion - Hearts of Iron IV: Man the Guns,2019-02-10,Recommended,&gt Played as German Reich&gt Declare war on B...,578.0,steam,NaN,en
2,Expansion - Hearts of Iron IV: Man the Guns,2019-02-07,Recommended,Very good game although a bit overpriced in my...,892.0,steam,NaN,en
3,Dead by Daylight,2018-06-14,Recommended,Out of all the reviews I wrote This one is pro...,676.0,steam,NaN,en
4,Dead by Daylight,2017-06-20,Recommended,Disclaimer I survivor main. I play games for f...,612.0,steam,NaN,en
5,Dead by Daylight,2016-12-12,Recommended,ENGLISH After playing for more than two years ...,2694.0,steam,NaN,en
...,...,...,...,...,...,...,...,...
575711,zika,NaN,NaN,Trendy topic with talks from expertises in the...,NaN,coursera,4.0,en
575712,zika,NaN,NaN,"Wonderful! Simple and clear language, good ins...",NaN,coursera,5.0,en
575713,zika,NaN,NaN,an interesting and fun course. thanks. dr quincy,NaN,coursera,5.0,en
575714,zika,NaN,NaN,"very broad perspective, up to date information...",NaN,coursera,4.0,en
575715,zika,NaN,NaN,An informative course on the social and financ...,NaN,coursera,4.0,en

In [10]:
df2 = pd.read_csv('../raw_data/raw_en.csv')

df2.drop_duplicates(inplace=True)

/tmp/ipykernel_6363/2872771894.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../raw_data/raw_en.csv')

In [11]:
df_dumb['recommendation'] = df_dumb['stars'].apply(lambda row:1 if row > 3 else 0)

target_prepro = FunctionTransformer(lambda df: df['stars'].apply(text_prepro))

NameError: name 'df_dumb' is not defined

In [15]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer



prep = FunctionTransformer(series_prepro)

preprocessor = ColumnTransformer([
    ('text_nltk', prep, ['review'])],
    remainder='passthrough'
)

ImportError: cannot import name 'series_prepro' from 'customerchurn.preprocessing' (/home/alechenwolf/.pyenv/versions/3.8.6/envs/customerchurn/lib/python3.8/site-packages/customerchurn/preprocessing.py)

In [ ]:
from sklearn.pipeline import make_pipeline

pipe = make_pipeline(preprocessor)

pipe.fit(df2)

In [ ]:
# from customerchurn.preprocessing import text_prepro

# df['review'] = df['review'].apply(text_prepro)

In [ ]:
df